[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/pnm-contracts"]
	path = lib/pnm-contracts
	url = https://github.com/pwnednomore/pnm-contracts
